@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');


body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* headings and logo*/
header{
    height:100px;
    width:100%;
    background-color: #f16c6b;
}

h1,
h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: darkslategray;
   
}


#logo {
    float: left;
    font-size: 280%;
    margin-left: 10px;
    text-align: left;
}


/*navigation links*/


#menu {
    font-size: 110%;
    letter-spacing: 3px;
}


#menu, #logo {
    line-height: 75px;
}


#menu li {
    float: right;
    list-style-type: none;
    margin: 30px;
}


#menu a {
    text-decoration: none;
    color: darkslategray;
}


#menu a:hover {
    border-bottom: 2px solid darkslategray;
}

.active {
    border-bottom: none;
}
#sticky {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
    font-weight: bold;
}




/*hero-image and text*/

#hero-outer {
    height: 1000px;
    width: 100%;
    background-color: aqua;

}

#hero-image {
    height: 800px;
    width: 50%;
    background: url('../images/arabic2.jpeg') no-repeat center center;
    background-size: cover;
    position: relative;
    bottom: 250px;
   left:44px;

}

#right-about {

    font-size: 200%;
    letter-spacing: 3px;
    height: 354px;
    position: relative;
    top: 194px;
    width: 28%;
    left: 60%;
    background-color: yellow;
   
}

#right-about>h1 {
    text-align: center;

}

#right-about p {
    text-align: center;
}

#about-us {
   
    font-size: 150%;
    letter-spacing: 3px;
    font-weight: 400;
    color: black;
    height: 870px;
    width: 100%;
    background-color: rgb(255, 251, 0);
}

#about-title {
    font-size: 200%;
    color: darkslategray;
}

/*table style*/

.table {
    width: 400px;
    border-spacing: 10px;

}

.table,
tr,
th {
    margin: 10px;
    padding: 0;
    text-align: left;
    position: relative;

}

tr,
th {
    padding: 10px;
    border-bottom: 15px solid transparent;
    background-color: #3a3a3a;
    color: white;
    background-clip: padding-box;
    font-size: medium;
}

/*form section*/

.form-section {
    width: 100%;
    background: url("../images/pexels-photo-15188027.jpeg");
    background-size: cover;
    height: 900px;
    border-spacing: 10px;
    font-size: 150%;
    letter-spacing: 3px;

}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.signup-form {
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 900px;
    left: 10%;
    padding: 40px;
    border: 2px solid black;
    position: relative;
    top: -162px;
    left: 200px;
    width: 30%;
}

.signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}

.join-button:hover {
    background-color: #fafafa;
    color: #f16c6b;
}

#sign-here{
    height: 395px;
    width: 40%;
    background-color: #f16c6b;
    font-size: 40;
    color: black;
    position: relative;
    left: 55%;
    top: 173px;
    font-weight: 700;
    text-align: center;
}

/*footer*/

footer {
    height: 1200px;
    width: 100%;
    background: url("../images/pexels-women-talking.webp");
    background-size: cover;
    text-align: center;
    background-color: aqua;

}

.contact {
    text-align: center;
    font-size: 146%;
    font-weight: 400;
    padding-top: 10%;
}

.social-networks {
    text-align: center;
    font-size: 160%;
    font-weight: 400;
}

.social-networks li {
    display: inline;
}

.social-networks i {

    font-size: 160%;
    margin: 1%;
    padding: 2%;
    color: darkslategray;
}

.sec {
    margin: 20px;
    font-size: 20px;
    font-size: 200%;
    letter-spacing: 3px;
    background-color: rgb(202, 229, 238);
}

/* Media queries */

/* For large to medium screens sizes from 1200px wide and down */
@media screen and (max-width: 1200px) {
    #about-us {
        height: 1200px;
        margin-top: 100px;
    }
    header{
        height:250px;
        
    }

    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #hero-outer {
        height: 1200px;
        width: 100%;
    }


    #hero-image {
        width: 100%;
        height: 68%;
        top: 60px;
        left: 1px;
    }

    #right-about {
        font-size: 158%;
        height: 22%;
        width: 100%;
        margin-bottom: 70px;
        top: 62px;
        left: 1px;
     }

     .signup-form {
        position: relative;
        top: 82px;
        left: 200px;
        width: 50%;
    }

    #sign-here{
        height: 286px;
        width: 87%;
        position: relative;
        left: 5%;
        top: 31px;
    }
}

/* For medium screens sizes from 950px wide and down */


@media screen and (max-width: 900px) {


    #menu {
        clear: left;
        float: left;
        margin-left: 30px;
        margin-bottom: auto;
        text-align: left;
    }
    #menu a {
        float:left;
    }

    #hero-outer {
        height: 1400px;
        width: 100%;
        margin: 0 auto;
    }

    #about-us {
        width: 100%;
        height: 1200px;
        margin-top: 200px;
        text-align: center;
        
    }

    #contact,
    #social-networks {
        float: left;
    }

    .signup-form {

        left:56px;
    }
    #sign-here {
            height: 277px;
            width: 86%;
            font-size: 23px;
    }
     tr, th {
       width:1px;
       height:1px; 
        
    }
    .table, tr, th {
         
         padding: 0; 
         margin: 0 auto;
    }
    .table {
        width: 0px;
       
    }
    #list_aboutus{
        list-style: none;
    }
    header{
        height:500px;
    }

}